<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CreditBank CustomerCare</title>
	 <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="https://creditbank.co.ke/discover-more/wp-content/uploads/2021/05/Favicon.png" sizes="32x32" />
    <link rel="icon" href="https://creditbank.co.ke/discover-more/wp-content/uploads/2021/05/Favicon.png" sizes="192x192" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="../public/css/app.css" rel="stylesheet" />
    </head>


    <body>
        	 <nav class="navbar orange align-items-stretch bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand">
                <div class="d-table m-auto orange">
                  <img width="150" height="50" id="main-logo" class="d-inline-block align-top mr-1" src="https://creditbank.co.ke/assets/img/Credit%20Bank%20PLC%20Logo.svg" alt="Shards Dashboard">
               
                </div>
              </a>
          </nav>


              <div class="container text-center">
          	<div class="fixed" id="demo">
                 <!-- <h2 id="demo">&nbsp;</h2> -->
          </div></div>


            <div class="container">
                  <div class="row row-cols-1 row-cols-md-2 g-4">
                         <div class="col">      

                           <img id="image" class="img-fluid float-start" src="https://www.bizmerlin.com/wp-content/uploads/2022/02/Toss-off-Feedback-on-the-Go.png" alt="">
   
                  </div>
                  
    

    <div class="col">
              <div class="logo w-100 shadow-lg p-3 bg-body rounded">
 	              <div class="container text-center w-75">
               	<img width="150" height="50" src="https://creditbank.co.ke/assets/img/Credit%20Bank%20PLC%20Logo.svg">
         </div> 	
</div>

 <form action="/post-data" class="shadow-lg p-3 mb-5 bg-body rounded w-100">
  <!-- Name input -->
              <div class="row">
                    <div class="col-sm">
                      <div class="form-outline mb-1">
                          <label class="form-label" for="form4Example1">Name</label>
                             <input type="text" id="name" class="form-control " />
                   </div>
               </div>
                         <div class="col-sm">
                                <div class="form-outline mb-1">
                                <label class="form-label" for="form4Example1">Phone</label>
                            <input type="text" id="phone" class="form-control " />
                          </div>
                        </div>


               </div>
  

  <!-- Email input -->

              <div class="row">
                        

                    <div class="col-sm">
                      <div class="form-group">
                          <label for="exampleFormControlFile1">Channels</label>
                          <select class="custom-select" id="channels">
                            <option selected id="choosechannel">Choose...</option>
                            <option value="Debit/Prepaid Cards">Debit/Prepaid Cards</option>
                            <option value="Mobile Banking">Mobile Banking</option>
                            <option value="Internet Banking">Internet Banking</option>
                            <option value="ATM">ATM</option>
          
                           
                    
                          </select>
                      </div>
                   </div>


    
                    <div class="col-sm">
                               <div class="form-outline mb-1">
     
                                  <label class="form-label" for="inputGroupSelect01">Branch</label>

                           <select class="custom-select" id="branch">
          <option selected id="choosebranch">Choose...</option>
          <option value="Koinange Branch">Koinange Branch</option>
          <option value="Westlands Branch">Westlands Branch</option>
          <option value="Kitengela Branch">Kitengela Branch</option>
          <option value="Lavington Branch">Lavington Branch</option>
          <option value="Ngong Road Branch">Ngong Road Branch</option>
          <option value="Industrial Area Branch">Industrial Area Branch</option>
          <option value="Thika Branch">Thika Branch</option>
          <option value="Rongai Branch">Rongai Branch</option>
          <option value="Rongai Branch">Rongai Branch</option>
          <option value="Nakuru Branch">Nakuru Branch</option>
          <option value="Mombasa Nyali Branch">Mombasa Nyali Branch</option>
          <option value="Mombasa Town Branch">Mombasa Town Branch</option>
          <option value="Machakos Branch">Machakos Branch</option>
          <option value="Kisii Branch">Kisii Branch</option>
          <option value="Kisumu Branch">Kisumu Branch</option>
          <option value="Eldoret Branch">Eldoret Branch</option>
         <option value="3">Meru Branch</option>

        </select>
      </div>
      
   
    </div>
    </div>


    <div class="row">
       <div class="col-sm">
                           <div class="form-outline mb-1">
                                <label class="form-label" for="form4Example2">Account No</label>

                                  <input type="text" id="acc" class="form-control " placeholder="optional"/>
                         </div>
                    </div>

    </div>

    <div class="row">
        <div class="col-sm">
                   <div class="form-outline mb-1">
                  <label class="form-label" for="form4Example1">Email Address</label>
                     <input type="email" id="email" class="form-control " />
                  </div>
    </div>
  <div class="col-sm">
    <div class="form-outline mb-1">
      <div class="form-outline mb-1">
     
        <label class="form-label" for="inputGroupSelect01">FeedBack Type</label>

      <select class="custom-select" id="feedbacktype">
        <option selected>Choose...</option>
        <option value="Complain">Complain</option>
        <option value="Complement">Complement</option>
        <option value="Suggestion">Suggestion</option>
       

      </select>
    </div>
    </div>
    </div>
  
  
    </div>

  <!-- Message input -->
<div class="row">
    <div class="col-12">
  <div class="form-outline mb-1">
   <label class="form-label" for="form4Example3">Message</label>
      <textarea class="form-control" id="message" rows="2"></textarea>
  </div>
  </div>
  </div>



  
  
  <!-- Checkbox -->


  <!-- Submit button -->
  <div class="row">
    <div class="col">
  <button id="send" class="btn btn-primary  btn-block mb-1">Send</button>
</div>
</div>
<div class="row">
  <div class="col">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="copy">
    <label class="form-check-label" for="flexCheckDefault">
      Do you like a copy of the feedback?
    </label>
  </div>
  </div>
  </div>
</form>

    </div>

          <script src="../public/js/app.js"></script>
    </body>
</html>